/* Searcher.js styles */

.searcher p {
	margin: 0;
	padding: 5px 0;
	width: 100%;
}

.searcher p:hover {
	background-color: #abc;
	border-radius: 8px;
}

.searcher p:focus {
	background-color: #abc;
	outline: none;
	border-radius: 8px;
}

.searcher {
	position: absolute;
  top: 55px;
  left: 233px;
	font-size: 12px;
	background-color: #fff;
	border-radius: 10px;
	width: 250px;
	max-height: 200px;
	z-index: 3000;
	overflow: hidden;
	left: 233px;
}
