<div id='notifications-wrapper'>
  <div id='notification-buttons'>
    <button id='download-all' onclick='downloadAll()'>Download All</button>
    <button id='dismiss-all' onclick='dismissAll()'>Dismiss All</button>
  </div>
</div>
<script>
// Remove buttons if there are no notifications.
if (notifications.getNumberOfNotifications() == 0) {
  $('#notification-buttons').remove();
}

$(document).ready( () => {
  $('#notifications-wrapper').append(uiComp.buildNotifications());
});

function notificationDownload(element) {
  // Get ID from the parent notification element
  let downloadID = element.path[2].attributes[1].nodeValue;
  // Get magnet link and start download
  notifications.startDownload(downloadID);
  // Remove notification
  notifications.removeNotification(downloadID);
  removeNotificationFromUI(element.path[2]);
}

function notificationDismiss(element) {
  // Get ID from the parent notification element
  let removeID = element.path[2].attributes[1].nodeValue;
  // Remove notification
  notifications.removeNotification(removeID);
  removeNotificationFromUI(element.path[2]);
}

function removeNotificationFromUI(element) {
  // Remove this element
  $(element).animate({zoom: 0, opacity: 0});
  setTimeout(function() {
    $(element).remove();
    if (notifications.getNumberOfNotifications() === 0) {
      $('#notifications-wrapper').html('<p>No notifications to show!</p>');
    }
  }, 300);
}

function downloadAll() {
  // Loop until there are no notifications left
  console.log(notifications.getNumberOfNotifications() > 0);
  while (notifications.getNumberOfNotifications() > 0) {
    let current = notifications.getAllNotifications()[0]
    notifications.startDownload(current.id);
    notifications.removeNotification(current.id);
    removeNotificationFromUI($(`[data-id="${current.id}"]`));
  }
}

function dismissAll() {
  // Loop until there are no notifications left
  while (notifications.getNumberOfNotifications() > 0) {
    let current = notifications.getAllNotifications()[0]
    notifications.removeNotification(current.id);
    removeNotificationFromUI($(`[data-id="${current.id}"]`));
  }
}
</script>
